body{
    background-color: #E0E0E0;
    
}
iframe{
    padding: 20px;
}

#container{
    display: flex;
    align-items: center; 
    justify-content: center; 
}
hr{
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: white
}