<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>javascript</title>
    <link rel="stylesheet" type="text/css" href="../css/sobreJavascript.css">
</head>
<body>
<section>
    <div class = "d01">
        <h1>Programação em javascript do básico ao avançado</h1>
        <p>Aprenda javascript com expressões if e else, while, arrays e  métodos, e muito mais!</p>
    </div>
</section>
</br>
<section>
    
    <div class = "d02">
        <div class = "d03">
            <h2>O que você aprenderá </h2>

           <p> Você será capaz de criar programas sofisticados com a linguagem javascript
            Você será capaz de se tornar um dev experiente utilizando javascript
            
            Você será capaz de se tornar um especialista em inteligência artificial utilizando javascript
            Você será capaz de se tornar um especialista em programação web com algum framework javascript</p>
        </div>
    </div>
    <div>
        <h2>Descrição</h2>
        <p>
            <span id = "pp">A demanda por programadores</span> php nunca esteve tão alta, afinal, php é uma das linguagens 
            mais utilizadas no mundo e requisito para se trabalhar com Ciência de Dados e Inteligência Artificial.
            Além disso, a demanda por profissionais java para trabalhar com a Internet utilizando algum dos 
            frameworks web mais populares, Flask ou Tornado tem crescido muito nos últimos anos.
            Por ser uma linguagem de programação versátil, simples de aprender e muito poderosa, javascript possui 
            recursos que, apesar de simples de se utilizar, tornam o aprendizado muito divertido.
            Neste curso, a traz para você mais de 64 horas de conteúdo php, do básico ao 
            avançado, com explicações claras e programação passo-a-passo utilizando a última versão da linguagem 
            php, sem deixar nada pra traz e o melhor de tudo, realizando repetições durante o decorrer do 
            curso para auxiliar na fixação do aprendizado.
        
        </p>
    </div>

<br>
<nav>
    <ul>
        <li>Variáveis e Tipos de Dados</li>
        <li>Estruturas Lógicas e Condicionais</li>
        <li>Estruturas de Decisão e Repetição</li>
        <li>Funções</li>           
    </ul>
</nav>
</section>
<section>
<h2>Para quem é este curso </h2>
<nav>
    <ol>
        <li>Programadores que desejam aprender de uma vez por todas a programar com javascript</li>
        <li>Profissionais da área de programação que não conhecem ainda a linguagem javascript</li>
        <li>Profissionais que já conhecem php mas querem se aprofundar ou se atualizar</li>
        <li>Profissionais que desejam ter uma base sólida em programação php para atuar com desktop</li>
               
    </ol>
</nav>
<p>
    <span id = "p"></span>O prof. <strong>prof. gustavo guanabara</strong></span> é um grupo de profissionais nos 
    diversos ramos da informática e computação
    com uma vasta experiência na atuação como programadores de sistemas, analistas de sistemas, 
    gerentes de projetos, empreendedores, arquitetos de softwares, analistas de segurança da informação,
    dentre outras. Desta forma, cada profissional apresenta cursos com temas de suas especialidade 
    trazendo aos alunos além da qualidade exigida pela, toda sua experiência dos anos
    de atuação e sua visão do mercado que não para de expandir. 
</p>
</section>
</body>
</html>